<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>로그인</title>
</head>
<body>
	<h1>로그인</h1>
	<form action="/login" method="POST">
		<input type="text" id="id" name="id" placeholder="아이디">
		<input type="password" id="pw" name="pw" placeholder="비밀번호">
		<button type="submit" name="login">로그인</button>
	</form>

</body>
</html>